p{
    background-color: rgb(247, 198, 206);
}
a{
    background-color: rgb(137, 219, 137);
}
div{
    background-color: red;
}
span{
    background-color: rgb(163, 163, 52);
}
label{
    background-color: rgb(126, 114, 231);
}
input{
    background-color: rgb(223, 147, 128);
}